/*/////////////////
//// GENERAL//////
////////////////*/
@font-face { 
  font-family: 'EM-Decima.Mono.Pro';
  src: url(../fonts/EM-Decima.Mono.Pro/TTF/DecimaMonoPro.ttf);
}

* {
	font-family: 'EM-Decima.Mono.Pro';
}

body {
  background: #FFF;
}


/*/////////////////
//// HEADER //////   /* Icon, Titre, Contact
////////////////*/
.siteHeader {
	height: 220px;
	display: inline-block;
	background-color: #212B2E;
}

.hexagon {
		width: 40px;
		height: 40px;
		margin-top: 20px;
}

.identity {
	margin-left: 10px;
	margin-top: 2px !important;
}

	.identity h1 {
	  position: relative;
	  bottom: -20px;
	  left: 170px;
	  text-transform: uppercase;
	  font-size: 40px;
	  letter-spacing: 2px;
	  font-weight: bold;
	  color: #fff;
	}

	.identity h3 {
	  position: relative;
	  padding-top: 5px;
	  left: 170px;	  
	  font-size: 30px;
	  color: #2ECEF1;
	}

.contact {
	position: relative;
	margin-top: 40px;
	float: right;
	display: inline-block;
}

	.contact li {
		list-style: none;
	}

	.contact h4 {
		font-size: 20px;
		color: #fff;
	}

	.contact img {
		width: 20px;
		height: 20px;
	}

	.contact p {
		font-size: 16px;
		color: #2ECEF1;
	}

/*/////////////////
/ LEFT_CONTAINER// 		/* Niveaux, Liens
////////////////*/
.leftContainer {
	height: 500px; /* temporaire */
	background-color: #212B2E;
}

/*/////////////////
// Main_Container/		/* Experiences pro, motivations, centres d'intêrets,
////////////////*/      /*   compétences persos */
.experiences {
}	

	.experiences img {
		width: 70px;
		height: 70px;
	}

	.experiences h1 {
		font-size: 40px;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}

	.intitulé h4 {
		margin-left: 90px;
		background-color: #212B2E;
		text-align: center;
		font-size: 30px;
		color: #2ECEF1;
	}

	.intitulé hr {
			width: auto;
			border-color: #2ECEF1;
		}

	.intitulé img {
		width: 60px;
		height: 60px;
		padding: 10px;
	}	

.details {
	display: block;
	margin-left: 40px;
	float: left;
}

	.details h4 {
		font-size: 30px;
		font-weight: 500;
	}

	.details hr {
		border-color: #2ECEF1;	
	}

	.progIcons {
		width: 2px;
		height: 2px;
		padding: 4px;
	}	

.frameworks {
	display: block;
	float: left;
}	